body, html {
  height: 100%;
  background-color: #000;
}


.bg { 
  height: 100vh;
  min-height: 500px;
  background-image: url('https://i.imgsafe.org/1a/1acf0e44f1.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

#div1 {animation-timing-function: cubic-bezier(.03,1.05,.32,1);}

@keyframes zoomIn{
	from {transform: scale(0,0);}
	to {transform: scale(1,1);}
}

.zoom {
	transform: scale(1,1);
	animation-name: zoomIn;
	animation-duration: 0.6s;
}

.btn-outline-black {
  color: #000;
  border-color: #000;
}

.btn-outline-black:hover {
  color: #fff;
  background-color: #000;
  border-color: #000;
}

.btn-outline-black:focus, .btn-outline-black.focus {
  box-shadow: 0 0 0 0.2rem rgba(52, 58, 64, 0.5);
}

.bw{
  color: -webkit-linear-gradient(to right, black 50%, white 50%);
}

@keyframes trans {
  from {transform: translateY(2em);}
  to {transform: translateY(0em);}
}

@keyframes pop{
  0% { opacity: 0;}
  1% { opacity: 0;}
  100%{ opacity: 1;}
}

.popup{
  opacity: 1;
  transform: translateY(0em);
  animation-name: trans,pop; 
  animation-duration: 0.6s;

}